@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    background-color: #F4BFBF;
}
.user{
    -webkit-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.75); 
    box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.75);
    height: 350px;
    margin: 40px;
    margin-left: 300px;
    width: 900px;
    padding: 30px;
    background-color: aliceblue;
}
.user > *{
    background-color: aliceblue;

}
h1{
    font-family: 'Macondo', cursive;
}
h2{
    font-family: 'Grape Nuts', cursive;
}
h5{
    font-family: 'Pacifico', cursive;
}
.title{
    margin: 40px;
    margin-left: 250.10px;
}